/**************** GOOGLE FONT IMPORTS *****************/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.education-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Container for education item cards */
    #edu-card {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-top: 2em;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);

        p {
            padding: 0.3em 0;
        }

        /* Text box appearing at top left */
        .school-and-date {
            grid-row: 1 / 3;
            grid-column: 1 / 7;
            align-self: center;
            text-align: left;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.96);
            border-radius: 1em;
            padding: 0.5em 1em;

            //Animation effect on first render
            opacity: 0;
            transform: translateX(-100%);
            animation: slideFromLeft 500ms ease-in 500ms forwards;
        }

        /* Container for image in center */
        .image-container {
            grid-row: 2 / 8;
            grid-column: 1 / 9;
            justify-self: center;
            border-radius: 2em;
            width: 85%;
            height: 100%;
            max-width: 410px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            img {
                width: auto;

                // Initial conditions for animation
                height: 0%;
                animation: imageGrowHeight 1s ease-in-out forwards;
            }            
        }

        /* Text box appearing at bottom right */
        .degree-and-major {
            grid-row: 7 / 9;
            grid-column: 1 / 9;
            align-self: center;
            text-align: right;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.96);
            border-radius: 1em;
            padding: 0.5em;

            //Animation effect on first render
            opacity: 0;
            transform: translateX(100%);
            animation: slideFromRight 500ms ease-in 500ms forwards;
        }
    }
}


/*************************** ANIMATIONS *********************/ 

/* Note: This element uses the slideFromRight and slideFromLeft animations defined in skills.scss */

@keyframes imageGrowHeight {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes exitLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes exitRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}


/***************** MEDIA QUERIES *****************/

@media only screen and (min-width: 550px) {
    .education-page #edu-card {
        .school-and-date {
            grid-column: 1 / 6;

        }

        .degree-and-major {
            grid-column: 4 / 9;
        }
    }
}

@media only screen and (min-width: 620px) {
    .education-page #edu-card {
        .school-and-date {
            grid-column: 1 / 5;

        }

        .degree-and-major {
            grid-column: 5 / 9;
        }
    }
}

@media only screen and (min-width: 700px) {
    .education-page #edu-card {
        .school-and-date {
            grid-column: 2 / 6;

        }

        .degree-and-major {
            grid-column: 4 / 8;
        }
    }
}



