/**************** GOOGLE FONT IMPORTS *****************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.education-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Container for education item cards */
}

.education-page #edu-card {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 2em;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  /* Text box appearing at top left */
  /* Container for image in center */
  /* Text box appearing at bottom right */
}

.education-page #edu-card p {
  padding: 0.3em 0;
}

.education-page #edu-card .school-and-date {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.96);
  border-radius: 1em;
  padding: 0.5em 1em;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideFromLeft 500ms ease-in 500ms forwards;
          animation: slideFromLeft 500ms ease-in 500ms forwards;
}

.education-page #edu-card .image-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2 / 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  justify-self: center;
  border-radius: 2em;
  width: 85%;
  height: 100%;
  max-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.education-page #edu-card .image-container img {
  width: auto;
  height: 0%;
  -webkit-animation: imageGrowHeight 1s ease-in-out forwards;
          animation: imageGrowHeight 1s ease-in-out forwards;
}

.education-page #edu-card .degree-and-major {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.96);
  border-radius: 1em;
  padding: 0.5em;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: slideFromRight 500ms ease-in 500ms forwards;
          animation: slideFromRight 500ms ease-in 500ms forwards;
}

/*************************** ANIMATIONS *********************/
/* Note: This element uses the slideFromRight and slideFromLeft animations defined in skills.scss */
@-webkit-keyframes imageGrowHeight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes imageGrowHeight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes exitLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes exitLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes exitRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes exitRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/***************** MEDIA QUERIES *****************/
@media only screen and (min-width: 550px) {
  .education-page #edu-card .school-and-date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .education-page #edu-card .degree-and-major {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / 9;
  }
}

@media only screen and (min-width: 620px) {
  .education-page #edu-card .school-and-date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .education-page #edu-card .degree-and-major {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
}

@media only screen and (min-width: 700px) {
  .education-page #edu-card .school-and-date {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .education-page #edu-card .degree-and-major {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
  }
}
/*# sourceMappingURL=education.css.map */