/**************** GOOGLE FONTS ******************/ 

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


/************* SASS VARIABLES ******************/

$title-background-clr: #161B21;
$title-text-clr: #F4A950;

$title-bars-clr: #FD8536;

$borderBlue: #A1C8F7;


/****************** CSS RESET ******************/ 

* {
    margin: 0;
    padding: 0;
    border-style: border-box;
    overflow: hidden;
}


/**************** LANDING PAGE STYLING **************/ 

.landing-page {
    height: 100vh;
    width: 100vw;

    /* ATTENTION: number of rows in grid must match 'numBars' in title */
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;

    .bg-photo {
        grid-row: 1 / 15;
        grid-column: 1 / 13;
        height: 100vh;
        width: 100vw;
        z-index: -1;

        background-image: url('../img/title/bw-motherboard.jpg');
        background-size: cover;
        background-position: center;

        /* Initial condition for animation */ 
        filter: brightness(30%) blur(12px);
        animation: blurIn 1.2s ease forwards;
    }
        
    /* Applied to all horizontal bars shown on transition */
    .fill-bar {
        grid-column: 1 / 13;
        display: block;
        line-height: 0;
        height: 250%;
        width: 0;
        background-color: $title-bars-clr;
    }
    
    #landing-content {
        grid-row: 5 / 11;
        grid-column: 2 / 12;
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 400px;
        align-self: center;
        justify-self: center;

        background-color: rgba(0, 0, 0, 0.98);
        border-radius: 45px;
        box-shadow: rgba(0, 0, 0, 0.8) 8px 8px 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* Initial conditions for animation */ 
        transform: translateX(20px);
        opacity: 0;
        animation: slideInRight 500ms ease-in 400ms forwards;

        .profile-block {
            width: 100%;
            font-family: 'Muli', 'sans-serif';
            text-align: center;
            font-size: 12px;
            color: $title-text-clr;

            /* Name block with adjacent lines hover effect */
            .name-block {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color 500ms;  // for hover effect

                .left-line, .right-line {
                    opacity: 0;
                    transition: all 500ms;
                    width: 0;

                    hr {
                        width: 0;
                        border: none;
                        background-color: $title-text-clr;
                        height: 0.2em;
                        transition: width 500ms;  // for hover effect
                    }
                }
                .left-line hr {
                    float: right;
                }
                .right-line hr {
                    float: left;
                }

                /* Name */
                h1 {
                    padding: 0.4em;
                    text-transform: uppercase;
                }
            }

            /* Short descriptors */
            p {
                padding: 0.5em 1em;
                line-height: 1.2em;
                font-size: 1.1em;
            }

            /* Location */
            h4 {
                font-size: 1.5em;
                padding: 0.5em;
            }

        }

        .entry-btn {
            margin: 0.8em 0;
            font-family: 'Roboto', 'sans-serif';
            font-size: 11px;
            font-weight: 600;
            color: black;

            .arrow-icon {
                margin: 0 0.5em;
            }
        }
    }
}


/********************** ANIMATIONS ************************/

@keyframes blurIn {
    from {
        filter: brightness(30%) blur(12px);
    }
    to {
        filter: brightness(100%) blur(0);
    }
}


@keyframes slideInRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@keyframes barsFillIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/******************** MEDIA QUERIES *******************/ 

/* For large mobile screens */
@media only screen and (min-width: 425px) {
    .landing-page #landing-content {
        grid-row: 5 / 11;
        grid-column: 2 / 12;

        .profile-block {
            font-size: 14px; 
        }
    }
}

/* Tablets */
@media only screen and (min-width: 768px) {
    .landing-page #landing-content {
        grid-row: 6 / 11;
        grid-column: 3 / 11;

        .profile-block {
            font-size: 15px; 
        }
    }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
    .landing-page #landing-content {
        grid-row: 5 / 11;
        grid-column: 4 / 10;

        .profile-block {
            font-size: 17px; 
        }
    }
}

/* Large laptops */
@media only screen and (min-width: 1400px) {
    .landing-page #landing-content {
        .profile-block {
            font-size: 19px; 
        }

        .entry-btn {
            font-size: 14px;
        }
    }
}