/*
* Font selections
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.grid-container .full-nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    grid-column: 1 / 13;
    grid-row: 0 / 3;
    width: 100%;
    height: 100%;

    background-color: black;

    .nav-bar
    {
        font-size: 1.1em;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        margin-right: 5%;
    }

    .nav-link-container
    {   
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        height: 100%;

        .nav-link {
            text-decoration: none;
            color: whitesmoke;

            // underline hover effect
            position: relative;
            height: 40%;

            &::before
            {
                height: 8px;
                width: 0;
                content: "";
                position: absolute;
                background-color: rgb(206, 226, 93);
                bottom: -10%;
                transition: width 300ms;
            }

            &:hover::before
            {
                width: 100%;
            }
        }

    }
}