$even-bar: rgb(85, 187, 255);
$odd-bar: rgb(24, 163, 255);

body {
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(
        $even-bar,
        $even-bar calc(100vh / 14),
        $odd-bar calc(100vh / 14),
        $odd-bar calc(2 * 100vh / 14)
    );
}

/********************* REACT TRANSITIONS GROUP ANIMATION *******************/

.portfolio-enter {
    opacity: 0;
}
.portfolio-enter-active {
    opacity: 1;
    transition: all 500ms;
}

.portfolio-exit {
    opacity: 1;
    transition: all 500ms;
}

.portfolio-exit-active {
    opacity: 0;
}

/************************* PORTFOLIO PAGE STYLING *************************/

.portfolio {
    margin: auto;
}