/************************* COLOUR SELECTIONS ***************/

$summary-bg: #FD8536;
$workexp-bg: #F16481;
$projects-bg: #74DE86;
$education-bg: #7BB2D9;
$skills-bg: #C18AF8;


/************************** FONT IMPORTS *******************/ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


/************************* CSS TRANSITIONS *******************/

$transition-enter-time: 500ms;
$transition-exit-time: 200ms;


/************************* CSS RESET *************************/

html, body {
    margin: 0px;
    padding: 0px;
} 

/*********************** SETTING UP THE GRID CONTAINER AND RESUME WINDOW *****************/

// Make grid container used by all portfolio items
.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;

    // Background colour set by state and changes on routed component
    transition: background-color 500ms;

    // Applied to page-titles rendered in each component
    .page-title {
        grid-row: 1 / 2;
    }

    .resume-window {
        margin-top: 1em;
        grid-row: 2 / 12;
        grid-column: 2 / 12;
        width: 100%;
        height: 100%;
        color: whitesmoke;
        text-align: center;
        font-family: 'Roboto', sans-serif;

        .page-title {
            margin-top: 1em;
        }
    }
}

/*************************** CSS REACT TRANSITIONS **************************/

.grid-container {
    /*********** SUMMARY PAGE ********/
    .summary-transition-enter {
        transform: translateX(-100%);
        opacity: 0;
    }
    .summary-transition-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: all $transition-enter-time;
    }
    .summary-transition-exit {
        transform: translateX(0);
        opacity: 1;
        transition: all $transition-exit-time;
    }
    .summary-transition-exit-active {
        transform: scale(0.7);
        opacity: 0;
    }   

    /******* WORK EXP / PROFESSIONAL PAGE ******/
    .proexp-transition-enter {
        transform: translateX(100%);
        opacity: 0;
    }
    .proexp-transition-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: all $transition-enter-time;
    }
    .proexp-transition-exit {
        transform: translateX(0);
        opacity: 1;
        transition: all $transition-exit-time;
    }
    .proexp-transition-exit-active {
        transform: scale(0.7);
        opacity: 0;
    }

    /*********** EDUCATION PAGE **********/ 
    .education-transition-enter {
        transform: translate3d(-100%, 100%, 0);
        opacity: 0;
    }
    .education-transition-enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all $transition-enter-time;
    }
    .education-transition-exit {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        transition: all $transition-exit-time;
    }
    .education-transition-exit-active {
        transform: scale(0.7);
        opacity: 0;
    }

    /**** SKILLS PAGE ****/
    .skills-transition-enter {
        transform: translateY(100%);
        opacity: 0;
    }
    .skills-transition-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: all $transition-enter-time;
    }
    .skills-transition-exit {
        transform: translateY(0);
        opacity: 1;
        transition: all $transition-exit-time;
    }
    .skills-transition-exit-active {
        transform: scale(0.7);
        opacity: 0;
    }   
    
    /********** SKILLS PAGE *********/
    .projects-transition-enter {
        transform: translate3d(100%, 100%, 0);
        opacity: 0;
    }
    .projects-transition-enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all $transition-enter-time;
    }
    .projects-transition-exit {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        transition: all $transition-exit-time;
    }
    .projects-transition-exit-active {
        transform: scale(0.7);
        opacity: 0;
    }
}

