$even-bar: honeydew;
$odd-bar: khaki;

.portfolio {
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(
        $even-bar,
        $even-bar calc(100vh / 14),
        $odd-bar calc(100vh / 14),
        $odd-bar calc(2 * 100vh / 14)
    );
}

.portfolio-enter {
    opacity: 0;
}
.portfolio-enter-active {
    opacity: 1;
}

.portfolio-exit {
    opacity: 1;
}

.portfolio-exit-active {
    opacity: 0;
}