/**************** GOOGLE FONT IMPORTS *****************/ 

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


/**************** SASS VARIABLE COLOURS *****************/ 

$text-bg-colour: #3B1F2B;


/**************** PROFESSIONAL EXPERIENCE PAGE STYLE *************/

.professional-exp-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .pro-content-card {
        margin-top: 1.2em;
        height: 75%;
        width: 100%;
        font-family: 'Muli', sans-serif;
        font-size: 17px;

        display: grid;
        justify-items: center;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);

        .title-loc-and-company {
            grid-row: 1 / 3;
            grid-column: 1 / 9;

            background-color: $text-bg-colour;
            width: 90%;
            height: 90%;
            z-index: 2;
            padding: 0.5em;
            border-radius: 1em;

            .employer {
                color: #FABC2A;
                font-size: 1.2em;
                margin-bottom: 0.3em;
            }

            .job-title {
                color: white;
                font-weight: 600;
            }
        }

        .image-container {
            grid-row: 2 / 7;
            grid-column: 2 / 8;
            width: 100%;
            border-radius: 2em;
            box-shadow: 4px 4px 8px black;

            img {
                width: auto;
                height: 100%;
            }
        }

        .date-and-description {
            grid-row: 6 / 9;
            grid-column: 1 / 9;
            width: 90%;
            z-index: 2;
            background-color: $text-bg-colour;
            border-radius: 1em;
            padding: 0.5em;

            .date {
                padding: 0.5em;
            }
        }
    }
}