/**************** GOOGLE FONT IMPORTS *****************/ 

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


/**************** SASS VARIABLE COLOURS *****************/ 

$text-bg-colour: whitesmoke;


/**************** PROFESSIONAL EXPERIENCE PAGE STYLE *************/

.professional-exp-page {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(8, 1fr);
    overflow: visible;

    .page-title {
      grid-column: 1 / 9;
      grid-row: 1 / 3;
    }
    .pro-exp-title {
      overflow: visible;
    }

    /* Next & previous buttons */
    .prev-arrow, .next-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        color: white;
        font-weight: bold;
        font-size: 40px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

        // Initial conditions for animation
        opacity: 0;
        animation: appearIn 500ms ease 500ms forwards;
    }

    .next-arrow {
        right: 0.5em;
        border-radius: 3px 0 0 3px;
    }
    
    .prev-arrow {
        left: 0.5em;
    }

    #pro-content-card {
        grid-column: 1 / 9;
        grid-row: 4 / 13;
        font-family: 'Muli', sans-serif;
        color: black;
        font-size: 16px;

        display: grid;
        justify-items: center;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);

        .title-loc-and-company {
            grid-row: 1 / 3;
            grid-column: 1 / 9;
            align-self: end;
            max-width: 460px;

            background-color: $text-bg-colour;
            width: 90%;
            height: 85%;
            z-index: 2;
            padding: 0.2em 0.4em;
            border-radius: 1em;
            border: 2px solid black;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            // Initial conditions for animation
            transform: translate3d(-100%, 0, 0) skewX(30deg);
            opacity: 0;
            animation: lightSpeedInLeft ease-out 500ms forwards 500ms;

            .employer {
                color: #F08700;
            }

            p {
                padding: 0.2em;
                font-weight: 600;
            }
        }

        .image-container {
            grid-row: 2 / 7;
            grid-column: 2 / 8;
            width: 100%;
            max-width: 410px;
            border-radius: 2em;

            // Initial conditions for animation
            opacity: 0;
            transform: scale(0.1) rotate(30deg);
            transform-origin: center bottom;
            animation: jackInTheBox ease-out 1s forwards;

            img {
                width: auto;
                height: 100%;
            }
        }

        .date-and-description {
            grid-row: 6 / 9;
            grid-column: 1 / 9;
            width: 90%;
            max-width: 480px;
            z-index: 2;
            background-color: $text-bg-colour;
            border-radius: 1em;
            padding: 0.4em;
            border: 2px solid black;

            // Initial conditions for animation
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
            animation: lightSpeedInRight ease-out 500ms forwards 500ms;

            .date {
                padding: 0.5em;
                font-size: 1.2em;
            }
        }
    }
}


/*********** ANIMATIONS (from animate.css at https://github.com/animate-css/animate.css) *************/ 

@keyframes jackInTheBox {
    from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }
    50% {
      transform: rotate(-10deg);
    }
    70% {
      transform: rotate(3deg);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes lightSpeedInLeft {
    from {
        transform: translate3d(-100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
    60% {
      transform: skewX(-20deg);
      opacity: 1;
    }
    80% {
      transform: skewX(5deg);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

@keyframes lightSpeedInRight {
    from {
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
    60% {
      transform: skewX(20deg);
      opacity: 1;
    }
    80% {
      transform: skewX(-5deg);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}


/********************* MEDIA QUERIES ********************/

/* Large mobile screens */
@media only screen and (min-width: 425px) {
  .professional-exp-page #pro-content-card {
    grid-row: 3 / 13;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  .grid-container .resume-window {
      grid-column: 4 / 13;
  }
}