/**************** GOOGLE FONT IMPORTS *****************/
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
/**************** SASS VARIABLE COLOURS *****************/
/**************** PROFESSIONAL EXPERIENCE PAGE STYLE *************/
.professional-exp-page {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  /* Next & previous buttons */
}

.professional-exp-page .page-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.professional-exp-page .prev-arrow, .professional-exp-page .next-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-animation: appearIn 500ms ease 500ms forwards;
          animation: appearIn 500ms ease 500ms forwards;
}

.professional-exp-page .next-arrow {
  right: 0.5em;
  border-radius: 3px 0 0 3px;
}

.professional-exp-page .prev-arrow {
  left: 0.5em;
}

.professional-exp-page #pro-content-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 10;
  grid-row: 3 / 13;
  font-family: 'Muli', sans-serif;
  color: black;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.professional-exp-page #pro-content-card .title-loc-and-company {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-flex-item-align: end;
      align-self: end;
  background-color: whitesmoke;
  width: 90%;
  height: 75%;
  z-index: 2;
  padding: 0.2em 0.4em;
  border-radius: 1em;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
          transform: translate3d(-100%, 0, 0) skewX(30deg);
  opacity: 0;
  -webkit-animation: lightSpeedInLeft ease-out 500ms forwards 500ms;
          animation: lightSpeedInLeft ease-out 500ms forwards 500ms;
}

.professional-exp-page #pro-content-card .title-loc-and-company .employer {
  color: #F08700;
  font-size: 1.2em;
}

.professional-exp-page #pro-content-card .title-loc-and-company p {
  padding: 0.2em;
  font-weight: 600;
}

.professional-exp-page #pro-content-card .image-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  width: 100%;
  border-radius: 2em;
  opacity: 0;
  -webkit-transform: scale(0.1) rotate(30deg);
          transform: scale(0.1) rotate(30deg);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: jackInTheBox ease-out 1s forwards;
          animation: jackInTheBox ease-out 1s forwards;
}

.professional-exp-page #pro-content-card .image-container img {
  width: auto;
  height: 100%;
}

.professional-exp-page #pro-content-card .date-and-description {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  width: 90%;
  z-index: 2;
  background-color: whitesmoke;
  border-radius: 1em;
  padding: 0.4em;
  border: 2px solid black;
  -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
  opacity: 0;
  -webkit-animation: lightSpeedInRight ease-out 500ms forwards 500ms;
          animation: lightSpeedInRight ease-out 500ms forwards 500ms;
}

.professional-exp-page #pro-content-card .date-and-description .date {
  padding: 0.5em;
  font-size: 1.2em;
}

/*********** ANIMATIONS (from animate.css at https://github.com/animate-css/animate.css) *************/
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lightSpeedInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes lightSpeedInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes lightSpeedInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes lightSpeedInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/********************* MEDIA QUERIES ********************/
/* Laptops */
@media only screen and (min-width: 1024px) {
  .grid-container .resume-window {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / 13;
  }
}
/*# sourceMappingURL=professional.css.map */