/**************** GOOGLE FONT IMPORTS *****************/ 

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


/**************** SASS VARIABLE COLOURS *****************/ 

$text-bg-colour: whitesmoke;


/**************** PROFESSIONAL EXPERIENCE PAGE STYLE *************/

.professional-exp-page {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(8, 1fr);

  .page-title {
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    justify-self: center;
    max-width: 330px;
    overflow: visible;
  }

  #pro-content-card {
    grid-column: 1 / 9;
    grid-row: 4 / 13;
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 12px;

    display: grid;
    justify-items: center;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);

    .title-loc-and-company {
      grid-row: 1 / 3;
      grid-column: 1 / 9;
      align-self: center;
      max-width: 460px;

      background-color: $text-bg-colour;
      width: 90%;
      z-index: 2;
      padding: 0.1em 0.4em;
      border-radius: 1em;
      border: 2px solid black;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      // Initial conditions for animation
      transform: translate3d(-100%, 0, 0) skewX(30deg);
      opacity: 0;
      animation: lightSpeedInLeft ease-out 500ms forwards 500ms;

      .employer {
        font-size: 1.2em;
        color: #F08700;
      }

      p {
        font-size: 1.1em;
        padding: 0.2em;
        font-weight: 600;
      }
    }

    .image-container {
      grid-row: 2 / 7;
      grid-column: 2 / 8;
      width: 100%;
      max-width: 410px;
      border-radius: 2em;

      // Initial conditions for animation
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
      animation: jackInTheBox ease-in 1s forwards;

      img {
        width: auto;
        height: 100%;
      }
    }

    #date-and-description {
      grid-row: 6 / 9;
      grid-column: 1 / 9;
      width: 98%;
      max-width: 550px;
      z-index: 2;
      transition: height 300ms;
      background-color: $text-bg-colour;
      border-radius: 10px;
      border: 2px solid black;
      font-size: 12px;

      display: flex;
      flex-direction: column;
      align-items: center;

      // Initial conditions for animation
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
      animation: lightSpeedInRight ease-out 500ms forwards 500ms;

      .date {
        padding-top: 0.4em;
        font-size: 1.2em;
        width: 100%;
        min-height: 1.2em;
      }

      .desc-container {
        cursor: pointer;
        width: 100%;
        text-align: left;
        font-size: 1.1em;
        overflow: auto;

        /* Fully displayed job experience description */
        .pro-exp-desc-full {
          padding: 0.7em 1.2em 0 1.2em;
          line-height: 1.5em;
          color: black;

          p {
            margin-bottom: 0.5em;
          }
        }

        /* Displayed for preview */
        .pro-exp-desc-preview { 
          padding: 0.7em 1.3em;
          text-align: left;
          
          .prev-text {
            color: black;
          }

          .detail-prompt {
            color: purple;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 600;
          }
        }
      }
    }

    /* Classes conditionally applied for expandable detail section */
    .desc-open {
      height: 22.5vh;

      .desc-container {
        overflow: auto;
      }
    }
    .desc-closed {
      height: 6.5em;

      .desc-container {
        overflow: hidden;
      }
    }
  }
}


/*********** ANIMATIONS (from animate.css at https://github.com/animate-css/animate.css) *************/ 

@keyframes jackInTheBox {
    from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }

    50% {
      transform: rotate(-10deg);
    }

    70% {
      transform: rotate(3deg);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes lightSpeedInLeft {
    from {
        transform: translate3d(-100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
    60% {
      transform: skewX(-20deg);
      opacity: 1;
    }
    80% {
      transform: skewX(5deg);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

@keyframes lightSpeedInRight {
    from {
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
    60% {
      transform: skewX(20deg);
      opacity: 1;
    }
    80% {
      transform: skewX(-5deg);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}


/********************* MEDIA QUERIES ********************/

/* Old phones */
@media only screen and (min-width: 320px) and (min-height: 480px) {
  .professional-exp-page #pro-content-card {
    font-size: 12px;

    #date-and-description {
      font-size: 11px;
    }
  }
}

@media only screen and (min-width: 320px) and (min-height: 568px) {
  .professional-exp-page #pro-content-card .desc-open {
    height: 11.5em;
  }
}

/* Mobiles with med-screen height */
@media only screen and (min-width: 375px) and (min-height: 580px) {
  .professional-exp-page #pro-content-card {
    grid-row: 3 / 13;
    margin-top: 10px;

    #date-and-description {
      font-size: 12.5px;
    }

    .desc-open {
      height: 23.5vh;
    }
    .desc-closed {
      height: 7em;
    }
  }
}

/* IPhone 6 / 6S / 7 */
@media only screen and (min-width: 375px) and (min-height: 667px) {
  .professional-exp-page #pro-content-card .desc-open {
    height: 24vh;
  }
}

/* Nexus 4 */
@media only screen and (min-width: 384px) and (min-height: 640px) {
  .professional-exp-page #pro-content-card {
    grid-row: 3 / 13;
    justify-self: end;
    
    #date-and-description {
      font-size: 13px;
    }

    .desc-open {
      height: 24vh;
    }
    .desc-closed {
      height: 7em;
    }
  }
}

/* Google Pixel, IPhone 6S / 7 */
@media only screen and (min-width: 411px) and (min-height: 731px) {
  .professional-exp-page #pro-content-card {
    #date-and-description {
      font-size: 13px;
    }

    .desc-closed {
      height: 7em;
    }
  }
}

/* Large mobile screens */
@media only screen and (min-width: 425px) and (min-height: 800px) {
  .professional-exp-page #pro-content-card {
    grid-row: 2 / 13;
    font-size: 16px;

    #date-and-description {
      font-size: 14px;
    }

    .desc-closed {
      height: 7em;
    }
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (min-height: 800px) {
  .professional-exp-page #pro-content-card {

    #date-and-description {
      font-size: 16px;
    }
  }
}


/* Laptops */
@media only screen and (min-width: 1024px) {
  .professional-exp-page #pro-content-card {
    grid-row: 3 / 13;
    font-size: 18px;

    .desc-closed {
      height: 7.5em;
    }
  }
}


/* Large laptops */
@media only screen and (min-width: 1440px) {
  .professional-exp-page #pro-content-card {

    font-size: 20px;

    #date-and-description {
      font-size: 15px;
      max-width: 650px;

      .date {
        padding-top: 0.5em;
      }
    }  

    .desc-closed {
      height: 8em;
    }
  }
}