/**************** GOOGLE FONT IMPORTS *****************/
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
/**************** SASS VARIABLE COLOURS *****************/
/**************** PROFESSIONAL EXPERIENCE PAGE STYLE *************/
.professional-exp-page {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.professional-exp-page .page-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  overflow: visible;
}

.professional-exp-page #pro-content-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 10;
  grid-row: 3 / 13;
  width: 100%;
  height: 100%;
  -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Muli', sans-serif;
  color: black;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  /* Classes conditionally applied for expandable detail section */
}

.professional-exp-page #pro-content-card .title-loc-and-company {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-flex-item-align: end;
      align-self: end;
  max-width: 460px;
  background-color: whitesmoke;
  width: 90%;
  z-index: 2;
  padding: 0.1em 0.4em;
  border-radius: 1em;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
          transform: translate3d(-100%, 0, 0) skewX(30deg);
  opacity: 0;
  -webkit-animation: lightSpeedInLeft ease-out 500ms forwards 500ms;
          animation: lightSpeedInLeft ease-out 500ms forwards 500ms;
}

.professional-exp-page #pro-content-card .title-loc-and-company .employer {
  font-size: 1.2em;
  color: #F08700;
}

.professional-exp-page #pro-content-card .title-loc-and-company p {
  font-size: 1.1em;
  padding: 0.2em;
  font-weight: 600;
}

.professional-exp-page #pro-content-card .image-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  width: 100%;
  max-width: 410px;
  border-radius: 2em;
  opacity: 0;
  -webkit-transform: scale(0.1) rotate(30deg);
          transform: scale(0.1) rotate(30deg);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: jackInTheBox ease-in 1s forwards;
          animation: jackInTheBox ease-in 1s forwards;
}

.professional-exp-page #pro-content-card .image-container img {
  width: auto;
  height: 100%;
}

.professional-exp-page #pro-content-card #date-and-description {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  width: 98%;
  max-width: 550px;
  z-index: 2;
  -webkit-transition: height 300ms;
  transition: height 300ms;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
  opacity: 0;
  -webkit-animation: lightSpeedInRight ease-out 500ms forwards 500ms;
          animation: lightSpeedInRight ease-out 500ms forwards 500ms;
}

.professional-exp-page #pro-content-card #date-and-description .date {
  padding-top: 0.4em;
  font-size: 1.2em;
  width: 100%;
  min-height: 1.2em;
}

.professional-exp-page #pro-content-card #date-and-description .desc-container {
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  overflow: auto;
  /* Fully displayed job experience description */
  /* Displayed for preview */
}

.professional-exp-page #pro-content-card #date-and-description .desc-container .pro-exp-desc-full {
  padding: 0.7em 1.2em 0 1.2em;
  line-height: 1.5em;
  color: black;
}

.professional-exp-page #pro-content-card #date-and-description .desc-container .pro-exp-desc-full p {
  margin-bottom: 0.5em;
}

.professional-exp-page #pro-content-card #date-and-description .desc-container .pro-exp-desc-preview {
  padding: 0.7em 1.3em;
  text-align: left;
}

.professional-exp-page #pro-content-card #date-and-description .desc-container .pro-exp-desc-preview .prev-text {
  color: black;
}

.professional-exp-page #pro-content-card #date-and-description .desc-container .pro-exp-desc-preview .detail-prompt {
  color: purple;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.professional-exp-page #pro-content-card .desc-open {
  height: 12em;
}

.professional-exp-page #pro-content-card .desc-closed {
  height: 6.5em;
}

/*********** ANIMATIONS (from animate.css at https://github.com/animate-css/animate.css) *************/
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lightSpeedInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes lightSpeedInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes lightSpeedInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes lightSpeedInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/********************* MEDIA QUERIES ********************/
/* Mobiles with med-screen height */
@media only screen and (min-width: 375px) and (min-height: 580px) {
  .professional-exp-page #pro-content-card #date-and-description {
    font-size: 13px;
  }
  .professional-exp-page #pro-content-card .desc-open {
    height: 13.5em;
  }
  .professional-exp-page #pro-content-card .desc-closed {
    height: 7em;
  }
}

/* Large mobile screens */
@media only screen and (min-width: 425px) {
  .professional-exp-page #pro-content-card #date-and-description {
    font-size: 14px;
  }
  .professional-exp-page #pro-content-card .desc-open {
    height: 11.8em;
  }
  .professional-exp-page #pro-content-card .desc-closed {
    height: 7em;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .professional-exp-page #pro-content-card .desc-open {
    height: 14.5em;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  .professional-exp-page #pro-content-card .desc-open {
    height: 13.5em;
  }
  .professional-exp-page #pro-content-card .desc-closed {
    height: 7.5em;
  }
}

/* Large laptops */
@media only screen and (min-width: 1440px) {
  .professional-exp-page #pro-content-card {
    font-size: 16px;
  }
  .professional-exp-page #pro-content-card #date-and-description {
    font-size: 15px;
    max-width: 650px;
  }
  .professional-exp-page #pro-content-card #date-and-description .date {
    padding-top: 0.5em;
  }
  .professional-exp-page #pro-content-card .desc-open {
    height: 16.4em;
  }
  .professional-exp-page #pro-content-card .desc-closed {
    height: 8em;
  }
}
/*# sourceMappingURL=professional.css.map */