/*************** GOOGLE FONT IMPORTS ***************/

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/***************** SASS VARIABLES ******************/

$projCard-bg-clr: #FBEAEB;
$projCard-text-clr: #2F3C7E;
$inactive-tag-clr: rgb(70, 24, 122);
$inactive-tag-hover-clr: rgb(100, 45, 163);
$active-tag-clr: orange;
$active-tag-hover-clr: rgb(255, 178, 34);

$tag-list-trans-out-time: 300ms;
$tag-list-trans-in-time: 400ms;


/************* PROJECT COMPONENT STYLE *************/

.projects-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;

    /* Arrow position differs from other pages */
    .prev-arrow, .next-arrow {
        top: 42% !important;
    }

    /* Additional styling for this class in portfolio.css */
    .page-title {
        grid-row: 1 / 3;
        grid-column: 1 / 9;
    }

    /* Active project item card style*/
    #proj-card {
        grid-column: 1 / 9;
        grid-row: 2 / 12;
        width: 100%;
        height: 100%;
        align-self: start;

        font-family: 'Roboto', sans-serif;
        font-size: 14px;

        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);
        justify-items: center;
        align-items: center;

        overflow: visible;

        .title-and-date {
            grid-row: 2 / 4;
            grid-column: 1 / 9;
            width: 85%;
            max-width: 430px;
            z-index: 2;
            text-align: center;
            align-self: start;
            border-radius: 5px;
            padding: 0.5em;
            font-size: 1.1em;
            color: $projCard-text-clr;
            background-color: $projCard-bg-clr;
            border: 1px solid black;

            // Initial conditions for animation
            opacity: 0;
            transform: translateY(100%);
            animation: slideFromBtm 700ms ease-out 300ms forwards;

            .date {
                font-family: 'Oswald', sans-serif;
                margin-top: 0.3em;
                text-transform: uppercase;
                color: rgb(139, 12, 18);
            }
        }

        #tags-and-desc {
            grid-column: 1 / 9;
            grid-row: 6 / 8;
            z-index: 2;
            width: 98%;
            max-width: 500px;
            transition: height 300ms;
            border-radius: 10px;
            color: $projCard-text-clr;
            background-color: $projCard-bg-clr;
            border: 1px solid black;
            align-self: start;

            display: flex;
            flex-direction: column;
            align-items: center;

            // Initial conditions for animation
            opacity: 0;
            transform: translateY(-100%);
            animation: slideFromTop 700ms ease-out 300ms forwards;
            
            .desc-container {
                cursor: pointer;
                width: 100%;
                font-family: 'Muli', sans-serif;
                font-size: 0.8em;
                text-align: left;
                overflow: auto;

                /* Fully displayed project description */
                .proj-desc-full {
                    color: black;
                    padding: 1em 1.5em 0 1.5em;
                    line-height: 1.5em;

                    p {
                        margin: 0.5em 0;
                    }
                }

                /* Displayed for preview */
                .proj-desc-preview { 
                    text-align: left;
                    padding: 1em 1.5em;
                    
                    .prev-text {
                        color: black;
                    }

                    .detail-prompt {
                        font-family: 'Oswald', sans-serif;
                        text-transform: uppercase;
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                }
            }

            .proj-card-tags {
                font-size: 0.7em;
                display: block;
                margin: auto 0 0.5em 0;
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;

                .proj-item-tag {
                    align-self: flex-end;
                    background-color: black;
                    color: white;
                    margin: 0.3em;
                    padding: 0.3em;
                }

                .proj-git-link {
                    align-self: flex-end;

                    p {
                        cursor: pointer;
                        background-color: rgb(136, 136, 241);
                    }
                }
            }
        }

        /* Serparate styles for when details section expanded or minimized (for mobile) */ 
        .desc-open {
            height: 12.1em;
        }
        .desc-closed {
            height: 6.5em;
        }

        .image-container {
            grid-column: 2 / 8;
            grid-row: 3 / 7;
            z-index: 1;
            width: 100%;
            max-width: 410px;
            border-radius: 8px;
            align-self: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            /* Initial conditions for animation */
            height: 0;
            opacity: 0;
            animation: growHeight 500ms ease-out 700ms forwards;

            img {
                width: auto;
                height: auto;
                max-height: 100%;
            }
        }
    }


    /* list of tags to filter projects appearing bottom of page */
    .tags-list {
        width: 100%;
        max-width: 475px;
        grid-row: 11 / 13;
        grid-column: 1 / 9;
        align-self: end;

        /* BUG HERE - tags at top of page not clickable ... need this z-index to make it work */ 
        z-index: 2;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        /* tag-items for user to filter */
        .tag-item {
            cursor: pointer;
            display: block;
            padding: 0.4em;
            margin: 0.1em;
            border-radius: 0.8em;
            font-size: 0.8em;
            transition: all 300ms;
        }

        /* unselected tags */
        .tag-inactive {
            color: white;
            background-color: $inactive-tag-clr;
        }

        /* style for active selected tags */
        .tag-active {
            color: black;
            background-color: $active-tag-clr;

            p {
                &:before {
                    font-size: 0.8em;
                    content: "✕";
                    color: red;
                    margin-right: 0.2em;
                }
            }
        }
    }
}


/****************** CSS TRANSITION FOR PROJ-TAGS COMPONENT ***********/ 

.tag-list-trans-enter {
    opacity: 0;
    transform: translateY(100%);
    transition: all $tag-list-trans-in-time;
}
.tag-list-trans-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all $tag-list-trans-in-time;
}
.tag-list-trans-exit {
    opacity: 1;
    transform: translateY(0);
    transition: all $tag-list-trans-out-time;
    ;
}
.tag-list-trans-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: all $tag-list-trans-out-time;
}


/****************** ANIMATIONS FOR DETAIL SECTION *****************/

@keyframes expandDetails {
    from {
        height: 90%;
        opacity: 1;
    }
    to {
        height: 180%;
        opacity: 1;
    }
}

@keyframes slideExitBtm {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}


/********************** ANIMATIONS *********************/ 

@keyframes fallBack {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.7);
    }
}

@keyframes slideFromBtm {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes growHeight {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}

// From animate.css
@keyframes flipInHoriz {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
        opacity: 1;
    }
}


/************************ MEDIA QUERIES *************************/

/* Tall phones */
@media only screen and (min-width: 320px) and (min-height: 640px) {
    .projects-page #proj-card {
        font-size: 16px;

        .title-and-date {
            font-size: 1em;
            grid-row: 2 / 3;
            
            .date {
                margin-top: 0.5em;
            }
        }

        #tags-and-desc .proj-card-tags {
            font-size: 0.6em;
        }
    }
}

/* Tall phones */
@media only screen and (min-width: 320px) and (min-height: 700px) {
    .projects-page #proj-card {
        font-size: 17px;
    }
}

/* For large mobile screens */
@media only screen and (min-width: 360px) {
    .projects-page #proj-card #tags-and-desc .proj-card-tags {
        font-size: 0.7em;
    }
}

/* For large mobile screens */
@media only screen and (min-width: 425px) {
    .projects-page #proj-card #tags-and-desc .proj-card-tags {
        font-size: 0.8em;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) {
    .projects-page {
        overflow: visible;

        #proj-card {
            .desc-closed {
                height: 8em;
            }
            .desc-open {
                height: 16em;
            }
        }

        .tags-list .tag-item {
            font-size: 0.9em;
        }
    }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
    .projects-page {
        overflow: visible;

        .tags-list {
            .tag-item {
                font-size: 1em;
            }
        }

        #proj-card {
            .title-and-date {
                grid-row: 2;
                font-size: 1.2em;
            }
    
            #tags-and-desc {
                grid-row: 6 / 8;
                margin-top: 15px;
                max-width: 550px;
            }

            .desc-open {
                height: 14.2em;
            }
    
            .image-container {
                grid-row: 3 / 7;
            }
        }
    }
}

/* Large laptops */
@media only screen and (min-width: 1400px) {
    .projects-page {
        .tags-list .tag-item {
            font-size: 1.1em;
        }

        #proj-card {
            font-size: 19px;

            .title-and-date {
                grid-row: 2 / 3;
                
                .date {
                    margin-top: 0.5em;
                }
            }

            #tags-and-desc {
                max-width: 650px;
            }
        }
    }
}