@charset "UTF-8";
/*************** GOOGLE FONT IMPORTS ***************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/***************** SASS VARIABLES ******************/
/************* PROJECT COMPONENT STYLE *************/
.projects-page {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  /* Additional styling for this class in portfolio.css */
  /* Next & previous buttons */
  /* Active project item card style*/
  /* list of tags to filter projects appearing bottom of page */
}

.projects-page .page-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}

.projects-page .prev-arrow, .projects-page .next-arrow {
  cursor: pointer;
  position: fixed;
  top: 42%;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-animation: appearIn 500ms ease 500ms forwards;
          animation: appearIn 500ms ease 500ms forwards;
}

.projects-page .next-arrow {
  right: 0.5em;
  border-radius: 3px 0 0 3px;
}

.projects-page .prev-arrow {
  left: 0.5em;
}

.projects-page #proj-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / 12;
  width: 100%;
  height: 100%;
  -ms-grid-row-align: start;
      align-self: start;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  /* Serparate styles for when details section expanded or minimized (for mobile) */
}

.projects-page #proj-card .title-and-date {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  width: 85%;
  max-width: 430px;
  z-index: 2;
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-radius: 5px;
  padding: 0.5em;
  color: #2F3C7E;
  background-color: #FBEAEB;
  border: 2px solid black;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideFromBtm 700ms ease-out 300ms forwards;
          animation: slideFromBtm 700ms ease-out 300ms forwards;
}

.projects-page #proj-card .title-and-date .title {
  font-size: 1.1em;
}

.projects-page #proj-card .title-and-date .date {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  margin-top: 0.3em;
  text-transform: uppercase;
  color: #8b0c12;
}

.projects-page #proj-card #tags-and-desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
  z-index: 2;
  width: 95%;
  max-width: 450px;
  -webkit-transition: height 300ms;
  transition: height 300ms;
  border-radius: 10px;
  color: #2F3C7E;
  background-color: #FBEAEB;
  border: 2px solid black;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: slideFromTop 700ms ease-out 300ms forwards;
          animation: slideFromTop 700ms ease-out 300ms forwards;
}

.projects-page #proj-card #tags-and-desc .desc-close-btn {
  font-size: 1.2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
  margin-left: 12px;
  position: fixed;
  color: red;
}

.projects-page #proj-card #tags-and-desc .desc-container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page #proj-card #tags-and-desc .desc-container .detail-prompt {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags {
  justify-self: flex-end;
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: black;
  color: white;
  font-size: 0.7em;
  margin: 0.2em;
  padding: 0.4em;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags .proj-git-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags .proj-git-link p {
  cursor: pointer;
  background-color: #8888f1;
}

.projects-page #proj-card .desc-open {
  height: 180%;
}

.projects-page #proj-card .desc-closed {
  height: 80%;
}

.projects-page #proj-card .image-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
  z-index: 1;
  width: 100%;
  max-width: 410px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Initial conditions for animation */
  height: 0;
  opacity: 0;
  -webkit-animation: growHeight 500ms ease-out 700ms forwards;
          animation: growHeight 500ms ease-out 700ms forwards;
}

.projects-page #proj-card .image-container img {
  width: auto;
  height: 100%;
}

.projects-page .tags-list {
  width: 100%;
  max-width: 450px;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11 / 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-flex-item-align: end;
      align-self: end;
  /* BUG HERE - tags at top of page not clickable ... need this z-index to make it work */
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* tag-items for user to filter */
  /* unselected tags */
  /* style for active selected tags */
}

.projects-page .tags-list .tag-item {
  display: block;
  padding: 0.4em;
  margin: 0.1em;
  border-radius: 0.8em;
  font-size: 14px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.projects-page .tags-list .tag-inactive {
  color: white;
  background-color: #46187a;
}

.projects-page .tags-list .tag-active {
  color: black;
  background-color: orange;
}

.projects-page .tags-list .tag-active p:before {
  font-size: 0.8em;
  content: "✕";
  color: red;
  margin-right: 0.2em;
}

/****************** CSS TRANSITION FOR PROJ-TAGS COMPONENT ***********/
.tag-list-trans-enter {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.tag-list-trans-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.tag-list-trans-exit {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.tag-list-trans-exit-active {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/****************** ANIMATIONS FOR DETAIL SECTION *****************/
@-webkit-keyframes expandDetails {
  from {
    height: 90%;
    opacity: 1;
  }
  to {
    height: 180%;
    opacity: 1;
  }
}
@keyframes expandDetails {
  from {
    height: 90%;
    opacity: 1;
  }
  to {
    height: 180%;
    opacity: 1;
  }
}

@-webkit-keyframes slideExitBtm {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes slideExitBtm {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

/********************** ANIMATIONS *********************/
@-webkit-keyframes fallBack {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@keyframes fallBack {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes growHeight {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes growHeight {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes flipInHoriz {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipInHoriz {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

/************************ MEDIA QUERIES *************************/
/* For large mobile screens */
@media only screen and (min-width: 425px) {
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 0.8em;
  }
  .projects-page #proj-card .desc-closed {
    height: 100%;
  }
}
/*# sourceMappingURL=projects.css.map */