@charset "UTF-8";
/*************** GOOGLE FONT IMPORTS ***************/
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/***************** SASS VARIABLES ******************/
/************* PROJECT COMPONENT STYLE *************/
.projects-page {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  /* Arrow position differs from other pages */
  /* Additional styling for this class in portfolio.css */
  /* Active project item card style*/
  /* list of tags to filter projects appearing bottom of page */
}

.projects-page .prev-arrow,
.projects-page .next-arrow {
  top: 42% !important;
}

.projects-page .page-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}

.projects-page #proj-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  width: 100%;
  height: 100%;
  -ms-grid-row-align: start;
      align-self: start;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  /* Serparate styles for when details section expanded or minimized (for mobile) */
}

.projects-page #proj-card .title-and-date {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  width: 85%;
  max-width: 430px;
  z-index: 2;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1em;
  color: #2f3c7e;
  background-color: #fbeaeb;
  border: 1px solid black;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideFromBtm 700ms ease-out 300ms forwards;
          animation: slideFromBtm 700ms ease-out 300ms forwards;
}

.projects-page #proj-card .title-and-date .date {
  font-family: "Oswald", sans-serif;
  margin-top: 0.3em;
  text-transform: uppercase;
  color: #8b0c12;
}

.projects-page #proj-card #tags-and-desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
  z-index: 2;
  width: 98%;
  max-width: 500px;
  -webkit-transition: height 300ms;
  transition: height 300ms;
  border-radius: 10px;
  color: #2f3c7e;
  background-color: #fbeaeb;
  border: 1px solid black;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: slideFromTop 700ms ease-out 300ms forwards;
          animation: slideFromTop 700ms ease-out 300ms forwards;
}

.projects-page #proj-card #tags-and-desc .desc-container {
  cursor: pointer;
  width: 100%;
  font-family: "Muli", sans-serif;
  font-size: 0.8em;
  margin-bottom: 1em;
  text-align: left;
  font-size: 11px;
  /* Fully displayed project description */
  /* Displayed for preview */
}

.projects-page #proj-card #tags-and-desc .desc-container .proj-desc-full {
  color: black;
  padding: 1em 1.5em 0 1.5em;
  line-height: 1.5em;
  font-size: 1em;
}

.projects-page #proj-card #tags-and-desc .desc-container .proj-desc-full p {
  margin: 0.5em 0;
}

.projects-page #proj-card #tags-and-desc .desc-container .proj-desc-preview {
  text-align: left;
  padding: 1em 1.5em;
  font-size: 1em;
}

.projects-page #proj-card #tags-and-desc .desc-container .proj-desc-preview .prev-text {
  color: black;
}

.projects-page #proj-card #tags-and-desc .desc-container .proj-desc-preview .detail-prompt {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags {
  font-size: 0.2em;
  display: block;
  margin: auto 0 2em 0;
  min-height: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
  font-size: 11px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: black;
  color: white;
  margin: 0.1em;
  padding: 0.2em;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags .proj-git-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projects-page #proj-card #tags-and-desc .proj-card-tags .proj-git-link p {
  cursor: pointer;
  background-color: #8888f1;
}

.projects-page #proj-card .desc-open {
  height: 11em;
}

.projects-page #proj-card .desc-open .desc-container {
  overflow: auto;
}

.projects-page #proj-card .desc-closed {
  height: 6em;
}

.projects-page #proj-card .desc-closed .desc-container {
  overflow: hidden;
}

.projects-page #proj-card .image-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
  z-index: 1;
  width: 100%;
  max-width: 410px;
  border-radius: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Initial conditions for animation */
  height: 0;
  opacity: 0;
  -webkit-animation: growHeight 500ms ease-out 700ms forwards;
          animation: growHeight 500ms ease-out 700ms forwards;
}

.projects-page #proj-card .image-container img {
  width: auto;
  height: auto;
  max-height: 100%;
}

.projects-page .tags-list {
  width: 100%;
  max-width: 475px;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11 / 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-flex-item-align: start;
      align-self: start;
  /* BUG HERE - tags at top of page not clickable ... need this z-index to make it work */
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* tag-items for user to filter */
  /* unselected tags */
  /* style for active selected tags */
}

.projects-page .tags-list .tag-item {
  cursor: pointer;
  display: block;
  padding: 0.4em;
  margin: 0.1em;
  border-radius: 0.8em;
  font-size: 0.7em;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.projects-page .tags-list .tag-inactive {
  color: white;
  background-color: #46187a;
}

.projects-page .tags-list .tag-active {
  color: black;
  background-color: orange;
}

.projects-page .tags-list .tag-active p:before {
  font-size: 0.8em;
  content: "✕";
  color: red;
  margin-right: 0.2em;
}

/****************** CSS TRANSITION FOR PROJ-TAGS COMPONENT ***********/
.tag-list-trans-enter {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.tag-list-trans-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.tag-list-trans-exit {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.tag-list-trans-exit-active {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/****************** ANIMATIONS FOR DETAIL SECTION *****************/
@-webkit-keyframes expandDetails {
  from {
    height: 90%;
    opacity: 1;
  }
  to {
    height: 180%;
    opacity: 1;
  }
}
@keyframes expandDetails {
  from {
    height: 90%;
    opacity: 1;
  }
  to {
    height: 180%;
    opacity: 1;
  }
}

@-webkit-keyframes slideExitBtm {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes slideExitBtm {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

/********************** ANIMATIONS *********************/
@-webkit-keyframes fallBack {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@keyframes fallBack {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes growHeight {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes growHeight {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes flipInHoriz {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipInHoriz {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

/************************ MEDIA QUERIES *************************/
/* Old phones */
@media only screen and (min-width: 320px) {
  .projects-page #proj-card {
    font-size: 12px;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 10.5px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 9px;
  }
  .projects-page #proj-card .desc-open {
    height: 12em;
  }
  .projects-page #proj-card .desc-closed {
    height: 5em;
  }
  .projects-page .tags-list .tag-item {
    font-size: 0.7em;
  }
}

/* Tall phones */
@media only screen and (min-width: 320px) and (min-height: 650px) {
  .projects-page #proj-card {
    font-size: 16px;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 13px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags {
    min-height: 23px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 11px;
  }
  .projects-page #proj-card .desc-open {
    height: 12em;
  }
  .projects-page #proj-card .desc-closed {
    height: 6em;
  }
  .projects-page #proj-card .title-and-date {
    font-size: 1em;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .projects-page #proj-card .title-and-date .date {
    margin-top: 0.5em;
  }
  .projects-page .tags-list .tag-item {
    font-size: 0.8em;
  }
}

/* Samsung S5 / S6 / S7 */
@media only screen and (min-width: 360px) and (min-height: 640px) {
  .projects-page #proj-card {
    font-size: 17px;
  }
  .projects-page #proj-card .desc-open {
    height: 11.5em;
  }
  .projects-page #proj-card .desc-closed {
    height: 5.5em;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 13.5px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags {
    min-height: 22px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 13px;
  }
  .projects-page .tags-list .tag-item {
    font-size: 0.85em;
  }
}

/* IPhone 6 */
@media only screen and (min-width: 375px) and (min-height: 667px) {
  .projects-page #proj-card .desc-closed {
    height: 5.8em;
  }
}

/* Google Pixel, IPhone 6S / 7 */
@media only screen and (min-width: 411px) and (min-height: 731px) {
  .projects-page #proj-card {
    font-size: 19px;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 14.2px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags {
    margin-bottom: 3em;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 14px;
    margin: 0.3em;
    padding: 0.3em;
  }
  .projects-page #proj-card .desc-open {
    height: 11em;
  }
  .projects-page #proj-card .desc-closed {
    height: 5.7em;
  }
  .projects-page .tags-list .tag-item {
    font-size: 0.9em;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  .projects-page {
    overflow: visible;
  }
  .projects-page #proj-card .title-and-date {
    font-size: 1.3em;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 13px;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 13px;
  }
  .projects-page #proj-card .desc-closed {
    height: 7em;
  }
  .projects-page #proj-card .desc-open {
    height: 13.5em;
  }
  .projects-page .tags-list .tag-item {
    font-size: 1em;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (min-height: 640px) {
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 14px;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 15px;
  }
  .projects-page #proj-card .desc-closed {
    height: 6em;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  .projects-page .tags-list {
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12 / 13;
  }
  .projects-page #proj-card {
    -ms-grid-row: 2;
    -ms-grid-row-span: 11;
    grid-row: 2 / 13;
  }
  .projects-page #proj-card .title-and-date {
    -ms-grid-row: 2;
    grid-row: 2;
    font-size: 1.2em;
  }
  .projects-page #proj-card #tags-and-desc {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    margin-top: 15px;
    max-width: 550px;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 16px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags {
    min-height: 25px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    padding: 0.4em;
  }
  .projects-page #proj-card .desc-open {
    height: 13.5em;
  }
  .projects-page #proj-card .desc-closed {
    height: 6.8em;
  }
  .projects-page #proj-card .image-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3 / 7;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .projects-page #proj-card .desc-open {
    height: 14.2em;
  }
}

/* Large laptops */
@media only screen and (min-width: 1400px) {
  .projects-page .tags-list .tag-item {
    font-size: 1.1em;
  }
  .projects-page #proj-card {
    font-size: 19px;
  }
  .projects-page #proj-card .title-and-date {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .projects-page #proj-card .title-and-date .date {
    margin-top: 0.5em;
  }
  .projects-page #proj-card #tags-and-desc {
    max-width: 650px;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags {
    margin-bottom: 3em;
  }
  .projects-page #proj-card #tags-and-desc .proj-card-tags .proj-item-tag {
    font-size: 16px;
    margin: 0.3em;
    padding: 0.4em;
  }
  .projects-page #proj-card #tags-and-desc .desc-container {
    font-size: 18px;
  }
}
/*# sourceMappingURL=projects.css.map */