@charset "UTF-8";
/*************** GOOGLE FONT IMPORTS ***************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/***************** SASS VARIABLES ******************/
/************* PROJECT COMPONENT STYLE *************/
.projects-page {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  /* Additional styling for this class in portfolio.css */
  /* Next & previous buttons */
  /* Active project item card style*/
  /* list of tags to filter projects appearing bottom of page */
}

.projects-page .page-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}

.projects-page .prev-arrow, .projects-page .next-arrow {
  cursor: pointer;
  position: fixed;
  top: 45%;
  color: white;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-animation: appearIn 500ms ease 500ms forwards;
          animation: appearIn 500ms ease 500ms forwards;
}

.projects-page .next-arrow {
  right: 0.5em;
  border-radius: 3px 0 0 3px;
}

.projects-page .prev-arrow {
  left: 0.5em;
}

.projects-page #proj-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2 / 9;
  width: 85%;
  height: 85%;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.projects-page #proj-card .title-and-date {
  width: 90%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  z-index: 2;
  text-align: center;
  border-radius: 5px;
  padding: 0.5em;
  color: #2F3C7E;
  background-color: #FBEAEB;
  border: 2px solid black;
}

.projects-page #proj-card .title-and-date .title {
  font-size: 1.1em;
}

.projects-page #proj-card .title-and-date .date {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  margin-top: 0.2em;
}

.projects-page #proj-card .tags-and-brief {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
  z-index: 2;
  width: 110%;
  height: 100%;
  border-radius: 10px;
  color: #2F3C7E;
  background-color: #FBEAEB;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page #proj-card .tags-and-brief .brief-container {
  width: 100%;
  height: 60%;
}

.projects-page #proj-card .tags-and-brief .brief-container .brief-desc {
  padding: 1em;
}

.projects-page #proj-card .tags-and-brief .proj-card-tags {
  justify-self: flex-end;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects-page #proj-card .tags-and-brief .proj-card-tags .proj-item-tag {
  background-color: black;
  color: white;
  font-size: 0.75em;
  margin: 0.2em;
  padding: 0.4em;
}

.projects-page #proj-card .tags-and-brief .proj-card-tags .proj-git-link {
  cursor: pointer;
  background-color: #8888f1;
}

.projects-page #proj-card .image-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.projects-page #proj-card .image-container img {
  width: auto;
  height: 100%;
}

.projects-page .tags-list {
  width: 100%;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* tag-items for user to filter */
  /* unselected tags */
  /* style for active selected tags */
}

.projects-page .tags-list .tag-prompt {
  width: 100%;
  color: black;
  margin-bottom: 0.4em;
}

.projects-page .tags-list .tag-item {
  font-weight: 600;
  color: black;
  display: block;
  padding: 0.3em;
  margin: 0.1em;
  border-radius: 0.8em;
  font-size: 13px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.projects-page .tags-list .tag-inactive {
  background-color: #AF7749;
}

.projects-page .tags-list .tag-active {
  background-color: orange;
}

.projects-page .tags-list .tag-active p:before {
  font-size: 0.8em;
  content: "✕";
  color: red;
  margin-right: 0.2em;
}
/*# sourceMappingURL=projects.css.map */