/************************* COLOUR SELECTIONS ***************/
/*************************** FONT SELECTIONS ****************/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.grid-container .navigation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
  -ms-grid-column-align: start;
      justify-self: start;
  height: 100%;
  width: 100%;
  max-width: 300px;
  overflow: visible;
  /* Class applied when nav open */
}

.grid-container .navigation #burger-icon {
  z-index: 4;
  position: absolute;
  top: 1.2em;
  left: 1.2em;
  padding: 4px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: navDropIn 400ms ease-in forwards 200ms;
          animation: navDropIn 400ms ease-in forwards 200ms;
}

.grid-container .navigation #burger-icon div {
  width: 20px;
  height: 3px;
  margin: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.grid-container .navigation .burger-change {
  background-color: red;
}

.grid-container .navigation .burger-change .line1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
          transform: rotate(-45deg) translate(-4px, 5px);
}

.grid-container .navigation .burger-change .line2 {
  opacity: 0;
}

.grid-container .navigation .burger-change .line3 {
  -webkit-transform: rotate(45deg) translate(-4px, -5px);
          transform: rotate(45deg) translate(-4px, -5px);
}

.grid-container .navigation .side-nav-border {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 3px solid whitesmoke;
}

.grid-container .navigation #side-nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #bbb9b9;
  -webkit-box-shadow: 6px 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 0 8px rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 0;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .navigation #side-nav .headshot-container {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  margin-top: 3.5em;
  margin-bottom: 1em;
  background-image: url("../img/nav/portfolio-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container .navigation #side-nav .profile-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

.grid-container .navigation #side-nav .profile-link-container .profile-link {
  color: inherit;
  text-decoration: none;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.grid-container .navigation #side-nav #nav-hr {
  margin: 0.5em 0 1em 0;
  background-color: black;
  border: 2px solid black;
  border-radius: 4px;
  height: 3px;
  opacity: 0;
  width: 0;
}

.grid-container .navigation #side-nav .side-nav-link-container {
  font-family: "Lato", sans-serif;
  text-align: center;
  width: 100%;
}

.grid-container .navigation #side-nav .side-nav-link-container .nav-link-container {
  padding: 0.5em 0;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.grid-container .navigation #side-nav .side-nav-link-container .nav-link-container .nav-link {
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 650;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.grid-container .navigation #side-nav .side-nav-link-container a {
  text-decoration: none;
  color: white;
}

.grid-container .navigation #side-nav .side-nav-link-container .resume-link-container {
  width: 75%;
  max-width: 180px;
  margin: 1em auto;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 35px;
  background-color: black;
}

/****************** ANIMATIONS ***************************/
@-webkit-keyframes navDropIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes navDropIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes hrFill {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 75%;
  }
}

@keyframes hrFill {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 75%;
  }
}

@-webkit-keyframes itemsAppear {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes itemsAppear {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/**************************** MEDIA QUERIES *******************************/
@media only screen and (min-width: 320px) and (min-height: 480px) {
  .grid-container .navigation #side-nav {
    font-size: 16px;
  }
}

@media only screen and (min-height: 600px) {
  .grid-container .navigation #side-nav {
    font-size: 20px;
  }
}

@media only screen and (min-width: 360px) {
  .grid-container .navigation {
    /* Class applied when nav open */
  }
  .grid-container .navigation #burger-icon div {
    width: 25px;
    height: 3px;
    margin: 4px;
  }
  .grid-container .navigation .burger-change {
    background-color: red;
  }
  .grid-container .navigation .burger-change .line1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
            transform: rotate(-45deg) translate(-4px, 6px);
  }
  .grid-container .navigation .burger-change .line2 {
    opacity: 0;
  }
  .grid-container .navigation .burger-change .line3 {
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
            transform: rotate(45deg) translate(-4px, -6px);
  }
}

/* Large mobile screens */
@media only screen and (min-width: 425px) {
  .grid-container .navigation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
}

@media only screen and (min-width: 500px) {
  .grid-container .navigation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
}

@media only screen and (min-width: 600px) {
  .grid-container .navigation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
}

/* Tablet devices */
@media only screen and (min-width: 700px) and (min-height: 570px) {
  .grid-container .navigation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
}

@media only screen and (min-width: 900px) {
  .grid-container .navigation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}

/* Laptops - fix the navbar to side now without toggling */
@media only screen and (min-width: 1024px) {
  .grid-container .navigation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .grid-container .navigation #burger-icon {
    display: none;
  }
}
/*# sourceMappingURL=sideNav.css.map */