/************************* CSS TRANSITIONS *******************/

$transition-enter-time: 400ms;
$transition-exit-time: 200ms;


/************************ FONT IMPORTS *********************/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');



.skills-page {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;

    font-size: 15px;

    .page-title {
        font-size: 2.5em;
    }
    
    .skills-content {
        grid-row: 2 / 7;
        margin-top: 3em;
        height: 100%;
        width: 100%;

        // For menu screen component
        .menu-screen {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            // Initial conditions for animation
            opacity: 0;
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            animation: flipInVert 300ms ease forwards;

            .btn-container {
                width: 100%;

                .menu-btn {
                    font-family: 'VT323', monospace;
                    font-weight: 300;
                    font-size: 1.3em;
                }
            }
        }
    }

    .skills-footer {
        font-family: 'VT323', monospace;
        grid-row: 8 / span 1; 
        align-self: start;
        width: 100%;

        // Initial conditions for animation
        opacity: 0;
        transform: translateY(100%);
        animation: slideFromBtm 300ms ease-in 400ms forwards;

        p {
            font-size: 1.7em;
        }

        .back-btn {
            font-family: 'Muli', 'sans-serif';
            font-weight: 500;
        }
    }

    // Pure animations classes
    .slide-right {
        opacity: 0;
        transform: translateX(100%);
        animation: slideFromRight 300ms ease forwards;
    }

    .slide-left {
        opacity: 0;
        transform: translateX(-100%);
        animation: slideFromLeft 300ms ease forwards;
    }

    .skill-entrance-animation {
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(0.5);
        animation: growBig 300ms ease forwards;
    }
}


/**************** PROGRAMMING LANGUAGES COMPONENT ****************/

.skills-page .skills-content .code-langs-list {
    height: 100%;
    max-width: 450px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 7.5em minmax(auto, 300px);
    grid-column-gap: 10px;

    .lang-column {
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .lang-item {
            font-family: 'VT323', monospace;
            font-size: 1.5em;
            width: 100%;

            // Initial conditions for animation
            opacity: 0;
            transform: translateX(-100%);
        }
    }

    .skill-bar-column {
        grid-column: 2 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .empty-skill-bar {
            width: 90%;
            max-width: 500px;
            height: 4px;
            box-shadow: 5px 5px 15px green;
            background-color: whitesmoke;
            overflow: hidden;

            // Initial conditions for animation
            opacity: 0;
            transform: translateX(100%);

            .skill-bar-fill {
                background-color: green;
                height: 100%;
                width: 0;
                // NOTE: width and transition to fill bar up managed in CodeLang.js
            }
        }
    }
}


/**************** SOFTWARE TOOLS COMPONENT ****************/

.skills-page .skills-content .sw-tools-grid {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 1em;
    font-size: 15px;

    .sw-tool-pack {
        width: 100%;
        height: 80%;
        max-height: 200px;
        margin: auto 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.5em;
        padding: 0.5em 0;
        font-family: 'Oswald', sans-serif;

        // Initial conditions for animation applied in SWTools.js
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;

        .tool-pack-title {
            height: 20%;
            justify-self: flex-start;
            color: #FFBF00;
        }

        .tool-pack-items {
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
}


/**************** HARDWARE TOOLS COMPONENT ****************/

.skills-page .skills-content .hardware-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    .hw-tool-pack {
        height: 9.3em;;
        padding: 4px 6px;
        margin: 0 4px;

        font-family: 'Muli', sans-serif;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        color: black;
        box-shadow: 4px 4px 8px rgb(75, 74, 74);

        // Initial conditions for animation
        opacity: 0;
        transform: scale(0.5);
        
        h3 {
            color: rgb(34, 14, 211);
            margin-bottom: 0.6em;
        }
    }
}



/*************************** ANIMATIONS *********************/ 

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromBtm {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flipInVert {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
    to {
        transform: perspective(400px) rotate3d(0, 0, 0, 0);
        opacity: 1;
    }
}

// From animate.css
@keyframes flipInHoriz {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
        opacity: 1;
    }
}

@keyframes growBig {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/********************* MEDIA QUERIES **********************/ 

/* Small mobile screens */
@media only screen and (min-width: 325px) {
    /* hardware skills */
    .skills-page .skills-content .hardware-page .hw-tool-pack {
        padding: 4px 8px;
    }
}

/* Large mobile screens */
@media only screen and (min-width: 425px) {

    /* software tools */
    .skills-page .skills-content {
        .hardware-page .hw-tool-pack {
            padding: 4px 14px;
        }
    
        .sw-tools-grid {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            width: 90%;
        }
    }
}

/* For large mobile screens */
@media only screen and (min-width: 575px) {
    .skills-page .skills-content {
        /* For hardware */ 
        .hardware-page {
            font-size: 16px;

            .hw-tool-pack {
                h3 {
                    text-transform: uppercase;
                }
           }
        }

        /* For software tools */
        .sw-tools-grid {
            width: 85%;
        }
    }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
    .skills-page .skills-content {
        .skills-footer .back-btn {
            font-size: 1.2em;
        }

        /* For hardware */
        .hardware-page {
            font-size: 17px;

            .hw-tool-pack {
                padding: 8px 14px;
            }
        }

        /* For software tools */
        .sw-tools-grid {
            font-size: 18px;
        }
    }
}