/************************* CSS TRANSITIONS *******************/
.skills-page {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skills-page .page-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.skills-page .skills-content {
  font-size: 15px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  margin-top: 3em;
  height: 100%;
  width: 100%;
}

.skills-page .skills-content .menu-screen {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-page .skills-content .menu-screen .btn-container {
  width: 100%;
}

.skills-page .skills-content .menu-screen .btn-container button {
  font-weight: 300;
  font-size: 1em;
}

.skills-page .skills-content .prog-langs {
  height: 100%;
  width: 100%;
}

.skills-page .skills-footer {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / span 1;
  width: 80%;
}

.skills-page .skills-footer p {
  font-size: 1.2em;
}

.skills-page .slide-right {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: slideFromRight 300ms ease forwards;
          animation: slideFromRight 300ms ease forwards;
}

.skills-page .slide-left {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideFromLeft 300ms ease forwards;
          animation: slideFromLeft 300ms ease forwards;
}

/*************************** ANIMATIONS *********************/
@-webkit-keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*************************** CSS REACT TRANSITIONS **************************/
.skills-page {
  /************ BACK BUTTON ************/
}

.skills-page .back-btn-transition-enter {
  height: 0;
  opacity: 0;
}

.skills-page .back-btn-transition-enter-active {
  opacity: 1;
  height: 100%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.skills-page .back-btn-transition-exit {
  opacity: 1;
  height: 100%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.skills-page .back-btn-transition-exit-active {
  height: 0;
  opacity: 0;
}

.skills-page .skills-content {
  /*********** MENU TRANSITION **********/
  /************* SKILL COMPONENT TRANSITIONS *********/
}

.skills-page .skills-content .skills-menu-transition-enter {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  opacity: 0;
}

.skills-page .skills-content .skills-menu-transition-enter-active {
  opacity: 1;
  -webkit-transform: perspective(400px);
          transform: perspective(400px);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.skills-page .skills-content .skills-menu-transition-exit {
  opacity: 1;
  -webkit-transform: perspective(400px);
          transform: perspective(400px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.skills-page .skills-content .skills-menu-transition-exit-active {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  opacity: 0;
}

.skills-page .skills-content .skills-component-transition-enter {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.skills-page .skills-content .skills-component-transition-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.skills-page .skills-content .skills-component-transition-exit {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.skills-page .skills-content .skills-component-transition-exit-active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}
/*# sourceMappingURL=skills.css.map */