/************************* CSS TRANSITIONS *******************/
/************************ FONT IMPORTS *********************/
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap");
.skills-page {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 15px;
}

.skills-page .page-title {
  font-size: 2.5em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.skills-page .skills-content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  margin-top: 3em;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.skills-page .skills-content .menu-screen {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  -webkit-animation: flipInVert 300ms ease forwards;
          animation: flipInVert 300ms ease forwards;
}

.skills-page .skills-content .menu-screen .btn-container {
  width: 100%;
}

.skills-page .skills-content .menu-screen .btn-container button {
  font-family: 'VT323', monospace;
  font-weight: 300;
  font-size: 1.3em;
}

.skills-page .skills-footer {
  font-family: 'VT323', monospace;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / span 1;
  width: 80%;
}

.skills-page .skills-footer p {
  font-size: 1.7em;
}

.skills-page .slide-right {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: slideFromRight 300ms ease forwards;
          animation: slideFromRight 300ms ease forwards;
}

.skills-page .slide-left {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideFromLeft 300ms ease forwards;
          animation: slideFromLeft 300ms ease forwards;
}

.skills-page .skill-entrance-animation {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: growBig 300ms ease forwards;
          animation: growBig 300ms ease forwards;
}

/**************** PROGRAMMING LANGUAGES COMPONENT ****************/
.skills-page .skills-content .code-langs-list {
  height: 100%;
  width: 100%;
  max-width: 700px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 7.5em minmax(auto, 500px);
      grid-template-columns: 7.5em minmax(auto, 500px);
}

.skills-page .skills-content .code-langs-list .lang-column {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-page .skills-content .code-langs-list .lang-column .lang-item {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.skills-page .skills-content .code-langs-list .skill-bar-column {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-page .skills-content .code-langs-list .skill-bar-column .empty-skill-bar {
  width: 90%;
  max-width: 500px;
  height: 4px;
  -webkit-box-shadow: 5px 5px 15px green;
          box-shadow: 5px 5px 15px green;
  background-color: whitesmoke;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.skills-page .skills-content .code-langs-list .skill-bar-column .empty-skill-bar .skill-bar-fill {
  background-color: green;
  height: 100%;
  width: 0;
}

/**************** SOFTWARE TOOLS COMPONENT ****************/
.skills-page .skills-content .sw-tools-grid {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(7em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-gap: 1em;
}

.skills-page .skills-content .sw-tools-grid .sw-tool-pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 0.5em;
  padding: 0.5em 0;
  font-family: 'Oswald', sans-serif;
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
          transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  opacity: 0;
}

.skills-page .skills-content .sw-tools-grid .sw-tool-pack h3 {
  color: #FFBF00;
}

/**************** HARDWARE TOOLS COMPONENT ****************/
.skills-page .skills-content .hardware-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-page .skills-content .hardware-page .hw-tool-pack {
  height: 130px;
  width: 120px;
  padding: 8px 12px;
  font-family: 'Archivo', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  color: black;
  -webkit-box-shadow: 4px 4px 8px #4b4a4a;
          box-shadow: 4px 4px 8px #4b4a4a;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.skills-page .skills-content .hardware-page .hw-tool-pack h3 {
  margin-bottom: 0.6em;
}

/*************************** ANIMATIONS *********************/
@-webkit-keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes flipInVert {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0);
            transform: perspective(400px) rotate3d(0, 0, 0, 0);
    opacity: 1;
  }
}

@keyframes flipInVert {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0);
            transform: perspective(400px) rotate3d(0, 0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes flipInHoriz {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipInHoriz {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
    opacity: 1;
  }
}

@-webkit-keyframes growBig {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes growBig {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=skills.css.map */