/************************* COLOUR SELECTIONS ***************/

$summary-bg: #5E6FDC;
$workexp-bg: #D59A66;
$projects-bg: #8BAB91;
$education-bg: #E9596A;
$skills-bg: #A47EAF;

$nameYellow: #E1E415;
$borderBlue: #A1C8F7;


/*************************** FONT SELECTIONS ****************/

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    border-style: border-box;
    overflow: hidden;
}


.title-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    
    #background {
        grid-row: 1 / 17;
        grid-column: 1 / 13;
        height: 100%;
        width: 100%;
        background-image: url('../img/title/camp-photo.jpg');
        filter: brightness(30%) blur(6px);
        background-size: cover;
        background-position: center;
        animation: blurIn 1s linear forwards, breathe 6s linear 1s infinite running;
        
        display: grid;

        // ATTENTION: number of rows here must match 'numBars' in title
        grid-template-rows: repeat(14, 1fr);
        grid-template-columns: repeat(4, 1fr);
    
        // Applied to all horizontal bars shown on transition
        .fill-bar {
            grid-column: 1 / 5;
            display: block;
            line-height: 0;
            height: 250%;
            width: 0;
            background-color: $summary-bg;
        }
    }

    #title-content {
        font-size: 10px;
        width: 60%;
        position: absolute;
        top: 40%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;  // to allow for box shadow
        opacity: 0;
        transform: translateX(20px);  // initial transform and opacity for animation
        animation: slideInRight ease-in 750ms forwards 0.8s;

        .profile-block {
            font-family: 'Ubuntu Mono', monospace;
            position: relative;
            text-align: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.99);
            padding: 1% 3%;
            border-radius: 10%;
            box-shadow: black 8px 8px 16px;

            .name-block {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color 1s;  // for hover effect

                .left-line, .right-line {
                    width: 15%;

                    hr {
                        width: 0;
                        border: none;
                        background-color: $nameYellow;
                        height: 0.2em;
                        transition: width 1s;  // for hover effect
                    }
                }
                .left-line hr {
                    float: right;
                }
                .right-line hr {
                    float: left;
                }

                h1 {
                    padding: 3% 0;
                    margin: 0 1%;
                    max-width: 70%;
                    position: relative;
                    text-transform: uppercase;
                }
            }

            h3 {
                font-size: 1.3em;
                text-transform: uppercase;
            }
            p {
                line-height: 1.2em;
                font-size: 1.1em;
            }
            h4 {
                font-size: 1.2em;
            }
            h1, h3, p, h4 {
                padding: 5% 0;
                transition: padding 500ms;  // for hover effect
            }

            &:hover {
                .name-block {
                    color: $nameYellow;

                    .left-line hr, .right-line hr {
                        width: 100%;
                    }

                    h1 {
                        padding: 5% 0;
                    }
                }
                h3, p, h4 {
                    padding: 7% 0;
                }
            }
        }

        .entry-button {
            cursor: pointer;
            overflow: hidden;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1em;
            width: 70%;
            margin: 8% 0;
            padding: 5% 1%;
            background-color: rgba(1, 1, 1, 0.99);
            color: white;
            border: none;
            border-radius: 5px 15px;
            border: 2px solid $borderBlue;
            transition: color 500ms;

            span {
                opacity: 0;
                transition: all 500ms;
            }


            &:hover {
                color: $nameYellow;

                span {
                    display: initial;
                    opacity: 1;
                    color: $nameYellow;
                    transform: translateX(0);
                }
            }
        }
    }
}


/*------------------- ANIMATIONS -----------------*/

@keyframes blurIn {
    from {
        filter: brightness(30%) blur(6px);
    }
    to {
        filter: brightness(100%) blur(0);
    }
}

@keyframes breathe {
    from {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05);
    }
    to {
        transform: scale(1.0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@keyframes barsFillIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/********************* MEDIA QUERIES *******************/

@media only screen and (min-width: 500px) {
    .title-page #title-content {
        width: 44%;
        font-size: 13px;
        top: 30%;
        right: 8%;
    }
}

@media only screen and (min-width: 910px) {
    .title-page #title-content {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .title-page #title-content {
        width: 35%;
        font-size: 18px;
        top: 30%;
        right: 15%;

        .profile-block {
            background-color: rgba(0, 0, 0, 0.97);
        }

        .entry-button {
            background-color: rgba(0, 0, 0, 0.97);
        }
    }
}

@media only screen and (min-width: 1300px) {
    .title-page #title-content{
        width: 35%;
        font-size: 20px;
        top: 25%;
        right: 15%;

        .profile-block {
            h1, h3, p, h4 {
                padding: 4% 0;
            }

            &:hover {
                h3, p, h4 {
                    padding: 4.1% 0;
                }
            }
        }

        .entry-button {
            width: 45%;
        }
    }
}


