/*************** GOOGLE FONT IMPORTS **********************/
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
/**************** WELCOME PAGE STYLE ***********************/
#intro-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro-page .intro-container {
  height: 100%;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 19px;
  color: #161B21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#intro-page .intro-container .name-header {
  margin-top: 1em;
  font-size: 1.5em;
  font-family: 'Muli', 'sans-serif';
}

#intro-page .intro-container hr {
  background-color: #161B21;
  height: 2px;
  width: 340px;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #161B21;
  border-radius: 3px;
  margin-bottom: 1em;
}

#intro-page .intro-container .desc-list {
  padding: 0.1em 0;
  max-width: 310px;
}

#intro-page .intro-container .desc-paras {
  margin-top: 0.4em;
  max-width: 400px;
}

#intro-page .intro-container .desc-paras p {
  padding: 0.5em 0;
}

#intro-page .intro-container #swipe-arrow-container {
  position: fixed;
  bottom: 3%;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideFromBtm 500ms linear 500ms forwards;
          animation: slideFromBtm 500ms linear 500ms forwards;
}

#intro-page .intro-container #swipe-arrow-container .swipe-arrow {
  cursor: pointer;
  margin-top: -0.2em;
  padding: 0 1em;
  font-size: 35px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/******************* ANIMATIONS ******************/
@-webkit-keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes swipeBounce {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
}

@keyframes swipeBounce {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
}

/********************* MEDIA QUERIES *******************/
@media only screen and (min-width: 340px) {
  #intro-page .intro-container {
    font-size: 23px;
  }
}

/* IPhone 5 */
@media only screen and (min-width: 320px) and (min-height: 568px) {
  #intro-page .intro-container {
    font-size: 22px;
  }
}

/* Samsing S5 / S6 / S7 */
@media only screen and (min-width: 360px) and (min-height: 640px) {
  #intro-page .intro-container {
    font-size: 25px;
  }
}

/* Nexus */
@media only screen and (min-width: 384px) and (min-height: 640px) {
  #intro-page .intro-container {
    font-size: 26px;
  }
}

/* IPhone 6S / 7 */
@media only screen and (min-width: 375px) and (min-height: 667px) {
  #intro-page .intro-container {
    font-size: 26px;
  }
}

/* Google Pixel, IPhone 6S / 7 */
@media only screen and (min-width: 411px) and (min-height: 731px) {
  #intro-page .intro-container {
    font-size: 27px;
  }
}

@media only screen and (min-width: 768px) and (min-height: 800px) {
  #intro-page .intro-container {
    font-size: 30px;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  #intro-page .intro-container {
    font-size: 32px;
  }
  #intro-page .intro-container .name-header {
    font-size: 1.5em;
  }
  #intro-page .intro-container hr {
    margin-bottom: 2em;
  }
  #intro-page .intro-container .desc-list, #intro-page .intro-container .desc-paras {
    font-size: 30px;
  }
  #intro-page .intro-container #swipe-arrow-container .swipe-arrow {
    font-size: 45px;
  }
}
/*# sourceMappingURL=welcome.css.map */