/*************** GOOGLE FONT IMPORTS **********************/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


/**************** WELCOME PAGE STYLE ***********************/ 

#intro-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .intro-container {
        height: 100%;
        width: 100%;
        max-width: 400px;
        text-align: center;
        font-family: 'VT323', monospace;
        font-size: 19px;
        color: #161B21;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .name-header {
            font-size: 1.5em;
            font-family: 'Muli', 'sans-serif';
        }

        hr {
            background-color: #161B21;
            height: 2px;
            width: 340px;
            max-width: 90%;
            margin: 0 auto;
            border: 1px solid #161B21;
            border-radius: 3px;
            margin-bottom: 1em;
        }

        .desc-list {
            padding: 0.1em 0;
            max-width: 310px;
        }         
        .desc-paras {
            margin-top: 0.4em;
            max-width: 400px;

            p {
                padding: 0.5em 0;
            }
        }

        // Swipe up arrow
        #swipe-arrow-container {
            position: fixed;
            bottom: 3%;

            // Initial conditions for entrance animation
            opacity: 0;
            transform: translateY(100%);
            animation: slideFromBtm 500ms linear 500ms forwards;
            
            .swipe-arrow {
                cursor: pointer;
                margin-top: -0.2em;
                padding: 0 1em;
                font-size: 35px;
                transform: rotate(90deg);
            }
        }
    }
}


/******************* ANIMATIONS ******************/ 

@keyframes slideFromBtm {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipeBounce {
    0%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(0.3em);
    }
}


/********************* MEDIA QUERIES *******************/

@media only screen and (min-width: 340px) {
    #intro-page .intro-container {
        font-size: 23px; 
    }
}

@media only screen and (min-width: 360px) and (min-height: 800px) {
    #intro-page .intro-container {
        font-size: 28px; 
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (min-height: 800px) {
    #intro-page .intro-container {
        font-size: 30px; 
    }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
    #intro-page .intro-container {
        font-size: 32px;
        
        .name-header {
            font-size: 1.5em;
        }

        hr {
            margin-bottom: 2em;
        }

        .desc-list, .desc-paras {
            font-size: 30px;
        }

        #swipe-arrow-container .swipe-arrow {
            font-size: 45px;
        }
    }
}
