/*************** GOOGLE FONT IMPORTS **********************/
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
/**************** WELCOME PAGE STYLE ***********************/
#intro-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro-page .intro-container {
  height: 90%;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro-page .intro-container .name-header {
  font-family: 'Muli', 'sans-serif';
  font-size: 32px;
}

#intro-page .intro-container hr {
  background-color: white;
  height: 2px;
  width: 290px;
  max-width: 310px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 1em;
}

#intro-page .intro-container .desc-list {
  padding: 0.1em 0;
  max-width: 310px;
}

#intro-page .intro-container .desc-paras {
  margin-top: 0.4em;
  max-width: 330px;
}

#intro-page .intro-container .desc-paras p {
  padding: 0.5em 0;
}

#intro-page .intro-container #swipe-arrow-container {
  position: fixed;
  bottom: 3%;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slideFromBtm 500ms linear 500ms forwards;
          animation: slideFromBtm 500ms linear 500ms forwards;
}

#intro-page .intro-container #swipe-arrow-container .swipe-arrow {
  cursor: pointer;
  margin-top: -0.2em;
  padding: 0 1em;
  font-size: 35px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/******************* ANIMATIONS ******************/
@-webkit-keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideFromBtm {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes swipeBounce {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
}

@keyframes swipeBounce {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
}

/********************* MEDIA QUERIES *******************/
/* Moto GS size mobile screens */
@media only screen and (min-width: 360px) {
  #intro-page .intro-container .name-header {
    font-size: 36px;
  }
}

/* Laptops */
@media only screen and (min-width: 1024px) {
  #intro-page .intro-container hr {
    width: 310px;
    margin-bottom: 2em;
  }
  #intro-page .intro-container .desc-list, #intro-page .intro-container .desc-paras {
    font-size: 25px;
  }
  #intro-page .intro-container #swipe-arrow-container {
    -webkit-transition: all 100ms;
    transition: all 100ms;
  }
  #intro-page .intro-container #swipe-arrow-container:hover {
    color: yellow;
  }
  #intro-page .intro-container #swipe-arrow-container:hover .swipe-arrow {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: rotate(90deg) scale(1.4);
            transform: rotate(90deg) scale(1.4);
  }
  #intro-page .intro-container #swipe-arrow-container .swipe-arrow {
    font-size: 45px;
  }
}
/*# sourceMappingURL=welcome.css.map */