/*************** GOOGLE FONT IMPORTS **********************/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


/**************** WELCOME PAGE STYLE ***********************/ 

.intro {
    height: 100%;


    .intro-container {
        height: 80%;
        text-align: center;
        font-family: 'VT323', monospace;
        font-size: 28px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

 
            .desc-list {
                padding: 0.1em 0;
            }         
            .desc-paras {
                margin-top: 1em;

                p {
                    padding: 0.6em 0;
                }
            }

    }
}